# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo

# next.js (later)
.next/
out/

# test / coverage
coverage/

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*
